{% extends 'afectado/base.html' %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'editar_afectado' id=detalle.pk %}"><span class="glyphicon glyphicon-pencil"></span> Editar</a></p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Cédula</th>
        <th>Apellido(s)</th>
        <th>Nombre(s)</th>
        <th>Teléfono</th>
        <th>Dirección</th>
      </tr>
    </thead>
    <tbody>
    {% if detalle %}
      <tr>
        <td>{{detalle.cedula_afectado}}</td>
        <td>{{detalle.apellido_afectado}} </td>
        <td>{{detalle.nombre_afectado}} </td>
        <td>{{detalle.telf_afectado}}</td>
        <td>{{detalle.direccion_afectado}}</td>
      </tr>
    {% endif %}
    </tbody>
  </table>
  {% endblock %}