{% extends 'afectado/base.html' %}
<!-- {% load staticfiles  %} -->
{% block content %}
<div class="jumbotron">
  <div class="container text-center">
  
    <div class="col-xs-3">  
    <p>
    <img src="{% static 'img/ico.png' %}" class="img-rounded" style="width:50%;">
    <b>Administrador: {{ usuario }}</b>
    </p>
    </div>
    <div class="col-xs-9">
    	<h2> JUZGADO #1</h2>  
    </div>
    
  </div>
</div>
<div class="alert alert-success ">
	    <strong>Creado por:</strong>
	    <br>    - Guanochanga Byron
	    <br>    - Jácome Danny
	    <br>    - Ushiña Luis
	</div>
 {% endblock content %}