<!DOCTYPE html>
<html lang="en">
<head>
  <title>Afectados</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Individuos Afectados</h2>
  <p>Personas que han realizado denuncias:</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Cédula</th>
        <th>Nombre(s) Apellido(s)</th>
        <th>Teléfono</th>
        <th>Dirección</th>
      </tr>
    </thead>
    <tbody>
    {% for unAfectado in listado %}
      <tr>
        <td>{{unAfectado.cedula_afectado}}</td>
        <td>{{unAfectado.nombre}} {{unAfectado.apellido}} </td>
        <td>{{unAfectado.telf_afecto}}</td>
        <td>{{unAfectado.direccion}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>